{% extends "base.html" %}

{% block content %}
<div class="mb-1">
  <a href="{% url 'checkout_reader' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-address-book"></i> 借書
  </a>
  <a href="{% url 'return_book' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-undo"></i> 還書
  </a>
</div>
<div id="log-list">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>借閱時間</th>
        <th>書籍</th>
        <th>借閱人</th>
        <th>歸還時間</th>
      </tr>
    </thead>
    <tbody>
      {% for log in log_list %}
      <tr>
        <td>{{ log.checkout|date:"Y/m/d H:i" }}</td>
        <td>
          <a href="{% url 'book_view' log.book.id %}">
            {{ log.book.title }}
          </a>
        </td>
        <td>
          <a href="{% url 'reader_view' log.reader.id %}">
            {{ log.reader.realname }}
          </a>
        </td>
        <td>{{ log.returned|date:"Y/m/d H:i" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include "pagination.html" %}
{% endblock %}