{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
      <form action=""  method="get">
        <div class="form-inline form-group">
          <label>篩選書籍：</label>
          <input type="text" name="query" class="form-control" placeholder="請輸入關鍵字..." value="{{ query }}" />
          <input type="submit" class="form-control btn btn-primary" value="篩選""/>
        </div>  
      </form>
    </div>
    <div id="log-list" class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>借閱時間</th>
            <th>書籍</th>
            <th>借閱人</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for log in log_list %}
          <tr>
            <td>{{ log.checkout|date:"Y/m/d H:i" }}</td>
            <td>
              <a href="{% url 'book_view' log.book.id %}">
                {{ log.book.title }}
              </a>
            </td>
            <td>
              <a href="{% url 'reader_view' log.reader.id %}">
                {{ log.reader.realname }}
              </a>
            </td>
            <td>
              <a href="{% url 'return_log' log.id %}" class="btn btn-sm btn-primary">
                <i class="fas fa-undo"></i> 歸還
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      {% include "pagination.html" %}
    </div>
  </div>{% endblock %}