{% extends "base.html" %}

{% block content %}
<div class="mb-1">
  <a href="{% url 'reader_add' %}" class="btn btn-sm btn-primary">
    <i class="fas fa-plus"></i> 新增讀者
  </a>
</div>
<div id="reader-list">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>姓名</th><th>電話</th><th>電子信箱</th><th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for reader in reader_list %}
      <tr>
        <td>
          <a href="{% url 'reader_view' reader.id %}">{{ reader.realname }}</a>
        </td>
        <td>{{ reader.tel }}</td>
        <td>{{ reader.email }}</td>
        <td>
          <a href="{% url 'reader_delete' reader.id %}" class="btn btn-sm btn-danger">刪除</a>
          <a href="{% url 'reader_edit' reader.id %}" class="btn btn-sm btn-primary">修改</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include "pagination.html" %}
{% endblock %}